body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
}
.header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    text-align: center;

}
.nav {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    justify-content:space-between;
    align-items: center  ;
    margin-right: 80px;
}

.nav a {
    
    display: flex;
    text-decoration: none;
    
}

.logo {
    width: 20%;
    height: auto;
   
}
.section {
    display: flex;

}
.section h2 {
    flex-basis: 25%;
}
.picture {
    width: 25%;
    height: 20%;
    object-fit: contain; 
}
.hero-area {
    background-color:thistle;
    height: 50vh;
    color:purple;
    font-size: 40px;
    text-align: center;
}
footer {
    background-color:black;
    color:  grey;
    text-align: center;
    padding: 80px;
}









