body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
}
.header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 100px;

}
.nav {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    justify-content:space-between;
    align-items: center  ;
    margin-right: 80px;
}

.nav a {
    
    display: flex;
    text-decoration: none;
    padding-right: 15px;
}

.logo {
    width: 10%;
    height: auto;
    background-image: url(assets/KM-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}

.section {
    display: flex;

}
.section h2 {
    flex-basis: 25%;
    text-align: right;
    padding-right: 15px;
}
.picture {
    width: 25%;
    height: 20%;
    object-fit: contain; 

}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 75%;
}
.code-quiz {
    background-image: url(assets/code\ quiz.png);
    height:400px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.hero-area {
    background-color:thistle;
    height: 50vh;
    color:purple;
    font-size: 40px;
    text-align: center;
}
footer {
    background-color:black;
    color:  grey;
    text-align: center;
    padding: 80px;
}









